# Python Basic Syntax #

### **Data Type** ###

##### Data type adalah sebuah pengklasifikasian data berdasarkan jenis data tersebut #####

In [11]:
#integers
x_int = 1
type(x_int)

#integers tipe data dengan bilangan riil bukan pecahan, seperti 1,2,3
#type () merupakan sebuah instruksi yang bisa kita panggil langsung tanpa membuatnya dari awal

int

In [12]:
#float
x_float = 1.0
type(x_float)

#float tipe data angka yang memiliki bagian desimal di akhir angka

float

In [13]:
#boolean
b1 = True
b2 = False

type(b1)

#boolean tipe data yang hanya mempunyai dua nilai, yaitu true dan false
#pada beberapa bahasa pemrograman nilai true bisa digantikan angka 1 fan nilai false digantikan angka 0

bool

In [14]:
# complex numbers: note the use of 'j' to specify the imaginary part
x_complex = 1.0 - 1.0j
type(x_complex)

#complex numbers adalah gabungan dari bilangan riil dengan bilangan imajiner
#1.0 merupakan bilangan riil dan 1.0j merupakan bilangan imaginer

complex

In [15]:
print(x_complex)

(1-1j)

In [16]:
print(x_complex.real, x_complex.imag)

#cara ini digunakan untuk memecah bilangan riil dan bilangan imaginer

1.0 -1.0

### **Type utility functions** ###

##### the module types contains a number of type name definitions that can be used to test if variables are of certain types: #####

##### Type Utility Functions bisa mengecek apakah tipe data tersebut sesuai dengan tipenya #####

In [17]:
# check if the variable x is an int
type(x_int) is int

#Int >> integers
#is merupakan kode script bawaan dari phyton yang artinya sebanding atau sama dengan
#kalau type(x_int) is int >>> true karena sama-sama integers 
#kalau type(x_int) is into >>> false karena berbeda maksud antara output dengan yang dibandingkan

True

In [19]:
# check if the variable x is a float
type(x_float) is float

#float >>> floating-point

True

In [20]:
# check if the variable x is a complex
type(x_complex) is complex

# x_complex diambil dari atas sendiri yang sudah kita deklarasikan maka percobaan ini harus dideklarasikan terlebih dahulu

True

### **Type Casting** ###

##### Proses konversi data dari tipe data tertentu ke tipe data yang lain #####

##### Type Casting adalah melakukan suatu proses operasi antara 2 atau lebih variable yang berbeda atau bagaimana kita mengkonversi variable yang kita punya ke bentuk variable lain #####

##### misal variable bertipe integers >>> bertipe float (dikonversi) atau sebaliknya #####

In [21]:
x = 1.5  #float

print(x, type(x))

# print (x) artinya kita ingin menyetak variabel 1.5
# type (x) artinya kita ingin menyetak typenya <class 'float'>

1.5 <class 'float'>

In [22]:
#proses casting >>> perubahan tipe data dari float >>> integers
#integers
x = int(x)

print(x, type(x))

# perubahan float angka 1.5 menjadi integers angka 1

1 <class 'int'>

In [24]:
#proses perubahan dari integer x = 1
#disini kita punya variabel z yang isinya bilangan complex dari (x)
#complex
z = complex(x)

print(z, type(z))

# (1+0j) imaginer tidak punya nilai apa-apa
# (1+0j) 1 = bilangan riil dan 0j = bilangan imaginer

(1+0j) <class 'complex'>

In [26]:
# casting complex ke float >>> gagal
x = float(z)

# gagal dikonversikan karena variabel (z) adalah variabel complex
# complex >>> float tidak bisa
# jika ada error berwarna merah itu tandanya ada eksekusi program kita yang salah

TypeError: can't convert complex to float

##### Complex variables can not be cast to floats or integers. We need to use z.real or z.imag to extract the part of the complex number we want: #####

In [27]:
# mengeluarkan bilangan complex yang terdiri dari bilangan riil dan bilangan imaginer
y = bool(z.real)
# 1 dicasting boolean = true

print(z.real, " -> ", y, type(y))

# 0 dicasting boolean = false
y = bool(z.imag)

print(z.imag, " -> ", y, type(y)) 

# "->" = keterangan berupa penjelasan/keterangan dan menggunakan petik (string)
# print (z.real) hasilnya 1.0
# hasil 1.0 didapat dari complex (1+0j) angka 1
# y hasilnya True, bisa True karena y = bool(z.real) outputnya adalah True = 1. 1 didapat dari konversi dari bool(z.real)
# di pemrograman True = 1 atau 1 = True
# hasil type (y) nya boolean

# hasil 0.0 didapat dari complex (1+0j) angka 0j
# y hasilnya False
# hasil type(y) nya boolean

1.0  ->  True <class 'bool'>
0.0  ->  False <class 'bool'>

### **Operators and comparisons** ###

##### Most operators and comparisons in Python work as one would expect: #####

##### - arithmetic operators + , - , * , / , // (integer division), '**'power #####

In [2]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

# + (penjumlahan), - (pengurangan), * (perkalian), / (pembagian), // (integer atau bilangan riil), ** (pangkat)
# dalam satu baris dengan pemisah koma (,) bisa mengeksekusi aritmatika secara bersamaan

(3, -1, 2, 0.5)

In [3]:
#float
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0 

# lebih baik menggunakan angka yang seragam misal kalau satu pakai koma, pakai koma semua

(3.0, -1.0, 2.0, 0.5)

In [4]:
# Integer division of float numbers
# Output: Integer
3.0 // 2.0

# jika pembaginya ada garis miring 2x akan dianggap integer (bilangan riil)

1.0

In [5]:
# Note! The power operators in python isn't ^, but **
2 ** 2

# kalau di Python pangkat menggunakan ** (bintang 2)

4

##### - The boolean operators are spelled out as words and , not , or . #####

In [6]:
True and False

# disini yang kuat adalah False (+ and - >>. -)
# kalau menggunakan 'or' yang dipilih adalah salah satu

False

In [7]:
not False

True

In [8]:
True or False

True

##### - Comparison operators > , < , >= (greater or equal), <= (less or equal), == equality, is identical. #####

In [9]:
2 > 1, 2 < 1

# > (lebih dari), < (kurang dari), >= (lebih dari sama dengan), <= (kurang dari sama dengan)

(True, False)

In [10]:
2 > 2, 2 < 2

(False, False)

In [11]:
2 >= 2, 2 <= 2

# 2 >= 2, > (lebih dari) tidak dianggap, yang dianggap (=) maka hasilnya True
# karena ada operator (=) berarti True semua

(True, True)

In [12]:
# equality
[1,2] == [1,2]

True

In [13]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2

True

### **Compound types: Strings, List and dictionaries** ###

### **Strings** ###

##### Strings are the variable type that is used for storing text messages. #####

In [2]:
s = "Hello world"
type(s)

# str adalah string

str

In [3]:
# length of the string: the number of characters
len(s)

#panjang karakter huruf dan spasinya dihitung

11

In [4]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

##### We can index a character in a string using [] : #####

In [5]:
#indeks >>> menunjukkan urutan lokasi suatu karakter dari data
#s = "Hello world"
s[0]

# kalau [0] menunjukkan huruf 'h', kalau [1] menunjukkan huruf 'e' dan seterusnya
# h index ke 0, ..., spasi index ke 5, dan seterusnya

'H'

##### We can extract a part of a string using the syntax [start:stop] , which extracts characters between index start and stop : #####

In [6]:
#menampilkan karakter dari indeks 0: 1 2 3 4 <5
s[0:5]

# [0:5] artinya mulai urutan index ke-0 hingga ke-5
# [0:5] artinya index karakter dari 0-4, index ke-5 tidak diikutkan

'Hello'

##### If we omit either (or both) of start or stop from [start:stop] , the default is the beginning and the end of the string, respectively: #####

In [8]:
# cara lain selain mendeklarasikan [0:5] adalah tidak memasukkan angka 0
s[:5]

'Hello'

In [10]:
s[6:]

# [6:] artinya dari index ke-6 sampai seterusnya diikutkan

'world'

In [11]:
s[:]

# [:] artinya menampilkan semua isinya

'Hello world'

##### We can also define the step size using the syntax [start:end:step] (the default value for step is 1, as we saw above): #####

In [12]:
s[::1]

# [::1] >>> angka 1 artinya step 1 langkah dari huruf 'h' ke 'e' satu langkah dan seterusnya, maka dihasilkan kalimat tetapnya yaitu Hello world

'Hello world'

In [13]:
s[::2]

# [::2] >>> angka 2 artinya step 2 langkah dari huruf 'h' dan seterusnya
# spasinya dianggap

'Hlowrd'

### **String formatting examples** ###

In [15]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [16]:
print("str1", 1.0, False, -1j)  # The print statement converts all arguments to strings

str1 1.0 False (-0-1j)

In [17]:
print("str1" + "str2" + "str3")  # strings added with + are concatenated witohout space

str1str2str3

In [18]:
print("value = %f" % 1.0)        # we can use C-style string formatting

value = 1.000000

In [19]:
# this formatting creates a string   phi
                  float       decimal
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

# jika ingin menghasilkan 2 angka setelah koma, bisa menuliskan '2f'
# value1 = %.2f f artinya float
# value2 = %d d artinya decimal
# (1.5) menginteger float menjadi decimal = 1

value1 = 3.14. value2 = 1

### **List** ###

##### Lists are very similar to strings, except that each element can be of any type. #####

##### The syntax for creating lists in Python is [...] : #####

In [20]:
# list terdiri dari beberapa item (angka, string, float) yang isinya item set yang kita punya

l = [1,2,3,4]

print(type(l))
print(l)

# dipakai di pengolahan data matriks

<class 'list'>
[1, 2, 3, 4]

In [21]:
print(l)     
# l = 1 2 3 4
    # indeks 0 1 2 3

print(l[1:3])     
# mulai dari indeks ke satu hingga indeks kurang dari tiga
# l = 1 2 3 4
    # 0 1 2 3 >>> indeks
      # 1 2 ([1:3] yang diambil indeks 1 hingga kurang dari 3) berarti jawabannya [2, 3] 

print(l[::3])     
# mulai dari indeks ke 0 lalu loncat tiga langkah
# l = 1 2 3 4
    # 0 1 2 3 >>> indeks
    # 1 2 3 4 >>> [start:end]
    # 1     4 >>> [start:end:step] (yang diambil indeks 0 dan ke-3, 3 langkah)

[1, 2, 3, 4]
[2, 3]
[1, 4]

In [22]:
l[0]

1

##### Elements in a list do not all have to be of the same type: #####

In [23]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

##### Lists play a very important role in Python, and are for example used in loops and other flow control structures (discussed below). There are numbers of convenient functions for generating lists of various types, for example the range function: #####

In [25]:
start = 10
stop = 30
step = 2

range(start, stop, step)

#autogenerated bilangan

range(10, 30, 2)

In [26]:
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

# 30 tidak dicetak karena kurang dari 30

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [27]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
s

'Hello world'

In [29]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [30]:
# sorting lists
s2.sort()

print(s2)

#.sort >>> untuk mengurutkan angka, huruf

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

##### Adding, inserting, modifying, and removing elements from lists #####

In [2]:
# create a new empty list
l =[]

# add an elements using 'append'
l.append("A")     #indeks 0
l.append("d")     #indeks 1
l.append("d")     #indeks 2

print(l)

['A', 'd', 'd']

##### We can modify lists by assigning new values to elements in the list. In technical jargon, lists are mutable. #####

In [3]:
#indeks 1 dan indeks 2
l[1] = "p"
l[2] = "p"

print(l)

# jika ingin menginsertkan sebuah nilai ke dalam sebuah list

['A', 'p', 'p']

##### Insert an element at an specific index using insert #####

In [4]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

# menambahkan isi dengan urutan, isi sebelumnya akan bergeser

['i', 'n', 's', 'e', 'r', 't', 'A', 'p', 'p']

##### Remove first element with specific value using 'remove' #####

In [34]:
l.remove("A")

print(l)

# menghilangkan salah satu huruf

['i', 'n', 's', 'e', 'r', 't', 'p', 'p']

##### Remove an element at a specific location using del : #####

In [35]:
del l[7]
del l[6]

print(l)

# del menggunakan indeks bukan huruf

['i', 'n', 's', 'e', 'r', 't']

### **Dictionary** ###

##### Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is {key1 : value1, ...} : #####

In [8]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

#JSON
# biasa digunakan untuk operasi note
# dict >>> dictionary
# database semi structure

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [9]:
# string + proses untuk mengambil value
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [10]:
# cara merubah nilai dari parameter
# params["string nama"] = isi string baru
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
# menambah parameter baru
# params["string"] = isi string baru
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

# Control Flow #

### **Conditional statements: if, elif, else** ###

##### The Python syntax for conditional execution of code the keywords if, elif, (else if), else : #####

In [6]:
statement1 = False
statement2 = False

if statement1 is False and statement2 is False: #true
    print("statement1 is False and statement2 is False")
    
elif statement2 is False: #true
    print("statement2 is True")
    
else:
    print("statement1 and statement2 are False")
    
# if digunakan untuk menunjukkan keinginan pertama
# elif digunakan untuk menunjukkan keinginan kedua
# else digunakan untuk menunjukkan pilihan kedua jika keinginan pertama dan kedua salah
# : digunakan di akhir if, elif, ataupun else
# else tidak perlu statement
# contoh:
# C = 8
# if C<3:
# print("C lebih kecil dari 3")
# elif C>5:
# print ("C lebih besar dari 5")
# else:
# print("C di antara 3 dan 5")

statement1 is False and statement2 is False

In [7]:
makan = 'nasi'
minum = 'es teh'

if makan == 'nasi':
    print("belikan nasi")
else:
    print("belikan: minum")

belikan nasi

##### In Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors. #####

#### **Examples:** ####

In [8]:
# if bertingkat
statement1 = statement2 = True

if statement1: #jenjang if ke-1 terpenuhi
    if statement2: #jenjang if ke-2
        print("both statement1 and statement2 are True")
        
# yang dieksekusi induknya dulu >>> statement 1

both statement1 and statement2 are True

In [9]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented
    
# tidak boleh mengganti tempat kalimatnya, jika sudah si enter jangan diubah tempatnya

IndentationError: expected an indented block (<ipython-input-9-ac4109c9123a>, line 4)

In [10]:
statement1 = False

if statement1: #true
    print("printed if statement1 is True")
    
    print("still inside the if block")
    
# tidak kecetak karena statement1 (False) tidak memenuhi kondisi if (True)

In [11]:
if statement1:
    print("printed if statement1 is True")
    
print("now outside the if block")

# print harus sejajar dengan if, jika di luar atau tidak sejajar if maka tidak bisa ke cetak

now outside the if block

### **Loops** ###

##### In Python, loops can be programmed in a number of different ways. The most common is the for loop, which is used together with iterable objects, such as lists. The basic syntax is: #####

In [1]:
for x in [1,2,3]:
    print(x)
    
# sering digunakan di machine learning
# digunakan untuk melibatkan data-data latih

1
2
3

##### The for loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the for loop. For example: #####

In [2]:
for x in range(4): # by default range start at 0
    print(x)
    
# range(4) = 0,1,2,3

0
1
2
3

##### Note: range(4) does not include 4 ! #####

In [4]:
for x in range(-3,3):
    print(x)
    
# 3 tidak diikutkan karena < 3

-3
-2
-1
0
1
2

In [7]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

##### To iterate over key-value pairs of a dictionary: #####

In [11]:
for key in params:
    print(key + " = " + str(params[key]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

##### Sometimes it is useful to have acces to the indices of the values when iterating over a list. We can use the enumerate function for this: #####

In [12]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)
    
# idx = index (0,1,2,3,4,5)
# x = value (-3,-2,-1,0,1,2)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### **List comprehensions: Creating lists using for loops:** ###

##### A convenient and compact way to initialize lists: #####

In [13]:
#x = 0,1,2,3,4 >>> range(0,5)
#x^2 = 0^2, 1^2, 2^2, 3^2, 4^2

l1 = [x**2 for x in range(0,5)]

print(l1)

[0, 1, 4, 9, 16]

### **While loops** ###

##### berfungsi untuk mengeksekusi code di dalam loop tersebut sampai suatu kondisi terpenuhi untuk menghentikannya #####

In [14]:
i = 0
#indeks ke 1
#indeks ke 2 >> 2
#indeks ke 3 >> 3
#indeks ke 4 >> 4

while i < 5:
    print(i)
    #print 0
    
    #i=i+1
    i = i + 1
    
print("done")

# i < 5 artinya dari 0 sampai 4
# jika sudah mencetak print(i) = 0, artinya indeks ke-1 menyimpan i = i + 1 >> i = 0 + 1 = 1

0
1
2
3
4
done

##### Note that the print("done") statement is not part of the while loop body because of the difference in indentation. #####

### **Functions** ###

##### A function in Python is defined using the keyword def, followed by a function name, a signature within parentheses (), and a colon : . The following code, with one additional level of indentation, is the function body #####

In [14]:
def func0():
    print("test")   #anak
    
# func = functions
# memanggil func0, maka hasilnya anak dari func0

In [2]:
contoh dari yang di atas
func0()

test

##### Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behavior. The docstring should follow directly after the function definition, before the code in the function body. #####

In [15]:
def func1(s):
    """ 
    print a string 's' and tell how many characters it has
    """
    
    print(s + " has " + str(len(s)) + " characters ")
    
# len = jumlah panjang karakter huruf

In [4]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    print a string 's' and tell how many characters it has

In [10]:
func1("test")

# atau bisa juga
# s = "test"
# print(s + " has " + str(len(s)) + " characters ")

test has 4 characters

##### Functions that returns a value use the return keyword: #####

In [17]:
def square(x):   #fungsi
    """
    Return the square of x.
    """
    return x ** 2   #nilai kembalian

# ada 1 proses pemangkatan

In [18]:
square(4)
#4^2

16

##### We can return multiple values from a function using tuples (see above): #####

In [20]:
def powers(x):
    """
    Return a few powers of x
    """
    return x ** 2, x ** 3, x ** 4

# ada 3 proses pemangkatan

In [21]:
powers(3)

# x = 3 >> 3^2, 3^3, 3^4

(9, 27, 81)

In [22]:
x2, x3, x4 = powers(3)

print(x3)

27

### **Fadlila Agustina** ###