Nama    : Fadlila Agustina 
NPM     : 21083010050
Kelas   : B

In [1]:
import csv
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\fadli\Documents\Algoritma & Pemrograman/KataBaku.csv')
df

    Kata Baku
0       abjad
1       aktif
2   aktivitas
3       alarm
4      amfibi
..        ...
95      sopir
96     survei
97     teknik
98    teladan
99      tobat

[100 rows x 1 columns]